.section{
    margin-top: 3rem;
    margin-bottom: 3rem;
    &__heading{
        font-family: $overpass;
        color:$gvDarkDesaturatedBlue;
    }

    &__img {
        height:18rem;
        background-image: url('../img/illustration-editor-mobile.svg');
        background-position: center center;
        background-size: cover;
        filter: drop-shadow( 1px 1px .8rem $grayishBlue);
    }
    &__info {
        h3{
            font-size: 1.4rem;
            padding:0 2rem;
            margin-bottom:1rem;
        }
        p{
            padding:0 .3rem;
            line-height: 1.6;
            font-size: 1rem;
            font-family: $ubuntu;
            color:$grayishBlue;
        }
    }
}