.section{
    margin-top: 3rem;
    margin-bottom: 3rem;
    &__heading{
        font-family: $overpass;
        color:$gvDarkDesaturatedBlue;
    }

    &__content{
        @media(min-width:48em){
            display: flex;
            overflow: hidden;
            
        }
    }
    &__img {
        
       img{
            width:100%;
            filter: drop-shadow( 1px 1px .8rem $grayishBlue);
            
        @media(min-width:48em){
                    width:55%;
                    position: absolute;
                    top:0.0625rem;
                    right:-13.5rem;
                    
            }
       }
       
    }
    &__info {
        text-align: center;
        @media(min-width:48em){
            
            padding-left:7rem;
            text-align: left;
            flex-basis:50%
        }
        h3{
            font-size: 1.4rem;
            padding:0 2rem;
            margin-bottom:1rem;
            @media(min-width:48em){
                padding:0;
            }
        }
        p{
            padding:0 .3rem;
            line-height: 1.6;
            font-size: 1rem;
            font-family: $ubuntu;
            color:$grayishBlue;
            @media(min-width:48em){
                padding:0;
            }
        }
        
    }
}