html{
    box-sizing: border-box;
    font-size:1rem;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

body{
    background-color: #f2f2f2;
}

.center{
    text-align: center;
}

.container{
    display: block;
    margin:0 2rem;
    max-width:1200px;
}
.sect1{
    @media(min-width:48em){
        height:50rem;
        position: relative;
        overflow: hidden;
    }
}


.cta{
    display: inline-block;
    padding:.9rem 2rem;
    font-family: $ubuntu;
    font-weight: 600;
    color:$white;
    transition: all ease-in-out .2s;
    &__active{
        background-color: $white;
        color:$lightRed;
        border-radius: 4rem;

        &:hover{
            background-color: $veryLightRed;
            color:white;
        }
    }
    &__border{ 
        border: 1px solid white;
        border-radius: 4rem;
        
        &:hover{
            background-color:$white;
            color:$lightRed;
            
        }
    }
    &__sign{
        background:linear-gradient(90deg,$gvLighRed,$gLightRed);
        
    }
    &__log{
        color:$vDarkBlackBlue;
    }
}
