$lightRed:hsl(356, 100%, 66%);//cta bg
$veryLightRed:hsl(355, 100%, 74%);//Hover
$veryDarkBlue:hsl(208, 49%, 24%);
$white:hsl(0, 0%, 100%);
$grayishBlue:hsl(240, 2%, 79%);
$vDarkGrayishBlue:hsl(207, 13%, 34%);
$vDarkBlackBlue:hsl(240, 10%, 16%);
$vLightGrayishBlue:hsl(240, 8%, 91%);


//Gradients
$gvLighRed: hsl(13, 100%, 72%);
$gLightRed:hsl(353, 100%, 62%);

$gVDarkGrayBlue: hsl(237, 17%, 21%);
$gvDarkDesaturatedBlue: hsl(237, 23%, 32%);

//Fonts
$overpass:"Overpass",sans-serif;
$ubuntu: "Ubuntu",sans-serif;